# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.output/

# Ambiente
.env
.env.prod
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
logs/

# Prisma
apps/backend/prisma/migrations/

# Cobertura de testes
coverage/

# Editor
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeDoc gerado
docs/api/
